fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
pydantic-settings
fido2
python-jose[cryptography]
alembic
pydantic[email]
eth-account
twilio
webauthn
opencv-python
Pillow
pandas
torch
scikit-learn==1.6.1